$black:              #000000;
$gray-darker:        #222222;
$gray-dark:          #333334;
$gray:               #8a8a8a;
$gray-light:         #999999;
$gray-lighter:       #bdbdbd;
$gray-lightest:      #d3d3d3;
$white:              #fff;
$off-white:          #fcfcfc;
$primary:            #0f9cf7;
$primary-compliment: #f76a0f;
$red:                #ff0000;
$body-color:         #ebebeb;
