$black:            #000000;
$gray-darker:      #222222;
$gray-dark:        #333334;
$gray:             #8a8a8a;
$gray-light:       #999999;
$gray-lighter:     #bdbdbd;
$gray-lightest:    #d3d3d3;
$white:            #fff;
$off-white:        #fcfcfc;
$primary:          #0f9cf7;
$primary-faded:    #69BFF6;
$primary-dark:     #0266A7;
$secondary:        #00b5d1;
$green:            #4cd864;
$red:              #ff0000;
$tinted-red:       #ffede5;
$yellow:           #fe9800;
$orange:           #da6b11;
$orange-dark:      #c35d0b;
$pink:             #c3325f;
$purple:           #7a43b6;
$body-color:       #ebebeb;
$green-alt:        #82c14b;
$tinted-green-alt: #f2f9ed;
$brown:            #99583D;
