$border-radius-default--button: 6px;
$background-color-default--button: #0f9cf7;
.button {
  @include box-shadow(2px 2px 2px $gray-lightest);
  background-color: $background-color-default--button;
  border: none;
  color: $white;
  cursor: pointer;
  font-size: $fontSize-base;
  letter-spacing: $letterSpacing-looser;
  line-height: $lineHeight-base;
  padding: $padding-base;

  &:hover {
    background-color: #078ee5;
  }
}
