.nav {
  background-color: $background-color-default--nav;
  color: $white;
  height: $height-default--nav;
  line-height: $line-height-default--nav;
}
.nav--fixed {
  left: 0;
  max-height: $height-default--nav;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $zIndex-10;
}
.nav-list {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-list--right {
  float: right;
}
.nav-list-item {
  float: left;
  list-style-type: none;
}
.nav-list-item-link {
  color: $white;
  cursor: pointer;
  display: block;
  padding: 0 $padding-largerer;
  text-decoration: none;
  text-transform: uppercase;

  &.active,
  &:hover {
    background-color: #078ee5;
    color: $white;
  }
}
.nav-title {
  font-size: $font-size-default--nav-title;
  margin-left: $margin-largest;
  text-transform: uppercase;
}
