.subNav {
  background-color: $background-color-default--subNav;
  box-shadow: -2px 8px 8px -8px $gray-lightest;
  color: $color-default--subNav;
  height: $height-default--subNav;
  line-height: $line-height-default--subNav;
}
.subNav--fixed {
  @extend .nav--fixed;
  max-height: $height-default--subNav;
  top: $height-default--nav;
}
.subNav-list {
  @extend .nav-list;
}
.subNav-list--right {
  @extend .nav-list--right;
}
.subNav-list-item {
  @extend .nav-list-item;
}
.subNav-list-item-link {
  @extend .nav-list-item-link;
  color: $color-default--subNav;

  &.active,
  &:hover {
    background-color: $gray-lightest;
    color: $white;
  }
}
