<nav class='subNav subNav--fixed'>
  <ul class='subNav-list'>
    <li class='subNav-list-item'>
      {{link-to 'Add a Bean' 'beans.new' class='subNav-list-item-link'}}
    </li>
  </ul>
</nav>

{{outlet}}
